/* src/styles/global.css */

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --logo-stroke: #003366;
  --logo-fill: #ffffff;
}

.dark {
  --logo-stroke: #ffffff;
  --logo-fill: #ffffff;
}
